body{
    background-color:#15171A;

}
.aboutStart{
    margin-top: 40px;
    text-align: center;
}
.about{
    font-size: 2rem;
    color: #79CA5D;
}
.heading{
    color: #fff;
    font-size: 40px;
}

.first-heading , .second-heading, .third-heading , .fourth-heading{
    color: #fff;
    font-size: 3rem;
}
/* ///////////////////////////////////// */

.founder-desc{
    font-size: 18px;
}
.text2,.first-desc, .third-desc{
    
    color: #fff;
    text-align: justify;
}
.cofounder{
    color: #79CA5D;
    font-size: 20px;
}

 .founder-img{
    width: 350px;
height: auto;
 }

 .saurabh{
    width: 20rem;
    height: 30rem;
    border-radius: 30px;
 }
 .MeetTeam{
    color: #fff;
    text-align: center;
    padding: 50px ;
 }

 .rajDiv{
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
 }



 @media only screen and (max-width:599) {
    .div-first{
        flex-direction: column;
    }
   
    .saurabh{
        height: 20rem;
        width: 15rem;
        border-radius: 30px;
    }
    .imgNone{
        display: hidden;
    }
   .rajSection{
    flex-direction: column-reverse;
   }
 }
 