
 .logo-img{
    
    height: 5rem;
    width: auto;
}
.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* height: 75px; */
  border-radius: 30px;
  margin: 0px 30px;
  background-color:#3A3A3A;
  color: #fff;
}
.nav-links{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 75%;
}
.home,
.aboutus,
.contact,
.products{
text-decoration: none;
color: #fff;
font-size: 20px;
padding: 10px 20px;
margin: 0 10px;
cursor: pointer;
}
.mobile-menu-icon{
  display: none;
}
@media screen and (max-width: 499px){
  .logo-img{
    height: 3.5rem;
  }
  .nav-links{
    display: none;
  }
  .nav{
    margin: 10px;
  }
  .nav-links-mobile{
    position: absolute;
    display: block;
    list-style: none;
    background-color: #3A3A3A;
    left: 0;
    top: 75px;
    transition: all 0.5 ease-out;
    width: 100%;
    border-radius: 30px;
  }
.home,
.aboutus,
.contact,
.products{
  color: #fff;
  text-align: center;
  padding: 32px;
  width: 100%;
  transition: all 0.5 ease;
}
.mobile-menu-icon{
  display: block;
  position: absolute;
  font-size: 30px;
  color: #fff;
  background-color: #3A3A3A;
  border: none;
  outline: none;
  top: 20px;
  right: 25px;
}
}